/vendor/
/node_modules/
npm-debug.log
yarn-error.log

bootstrap/compiled.php
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

!/public/build
/public/build

!package.json
!package-lock.json
!yarn.lock
!vite.config.js
!tailwind.config.js   # if you have one
